#principal {
    color: blue;
}

#titulo {
    color: rgb(0, 100, 200);
}

.textoverde {
    color: green;
}

#cm {
    background-color: blue;
    width: 1cm;
    height: 1cm;
}

#mm {
    background-color: coral;
    width: 1mm;
    height: 1mm;
}

#in {
    background-color: blue;
    width: 1in;
    height: 1in;
}

#px {
    background-color: coral;
    width: 10px;
    height: 10px;
}

#pt {
    background-color: blue;
    width: 10pt;
    height: 10pt;
}

#pc {
    background-color: coral;
    width: 1pc;
    height: 1pc;
}